Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2024-08, with the labels that each got.

#5 Update generative-ai-semantic-search.md (Typo "Open AI"→"OpenAI")
  articles/postgresql/flexible-server/generative-ai-semantic-search.md
Labels: do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#6 Update generative-ai-recommendation-system.md (Typo "Open AI"→"OpenAI")
  articles/postgresql/flexible-server/generative-ai-recommendation-system.md
Labels: do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#7 Update how-to-integrate-azure-ai.md (Typo "Open AI"→"OpenAI")
  articles/postgresql/flexible-server/how-to-integrate-azure-ai.md
Labels: do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#10 Update concepts-networking.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/concepts-networking.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#14 Update quickstart-create-connect-server-vnet.md (Typo "flexible serve…
  articles/mysql/flexible-server/quickstart-create-connect-server-vnet.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#16 Use StoredProcedureRequestOptions in place of RequestOptions in C# example code
  articles/cosmos-db/nosql/how-to-write-stored-procedures-triggers-udfs.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#17 [CosmosDB] Emulator release 2.14.20
  articles/cosmos-db/emulator-release-notes.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc
