Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2024-10, with the labels that each got.

#42 Update how-to-manage-server-cli.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/how-to-manage-server-cli.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#22 Update concepts-networking-public.md (Typo "flexible server"→"Flexibl…
  articles/mysql/flexible-server/concepts-networking-public.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#23 Update how-to-manage-server-portal.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/how-to-manage-server-portal.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#64 Update connect-with-powerbi-desktop.md (Typo "flexible server"→"Flexi…
  articles/mysql/flexible-server/connect-with-powerbi-desktop.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#67 Update concepts-read-replicas.md (Typo "flexible server"→"Flexible Se…
  articles/mysql/flexible-server/concepts-read-replicas.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#68 Update tutorial-webapp-server-vnet.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/tutorial-webapp-server-vnet.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#35 Update Connection String Usage for MongoDB troubleshoot-common-issues.md
  articles/cosmos-db/mongodb/vcore/troubleshoot-common-issues.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, mongodb/subsvc

#71 Update concept-performance-best-practices.md (Typo "flexible server"→…
  articles/mysql/flexible-server/concept-performance-best-practices.md
Labels: do-not-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#72 Update how-to-configure-high-availability.md (Typo "flexible server"→…
  articles/mysql/flexible-server/how-to-configure-high-availability.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#74 Update how-to-networking-private-link-portal.md (Typo "flexible serve…
  articles/mysql/flexible-server/how-to-networking-private-link-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#78 Update concepts-server-parameters.md (Typo "flexible server"→"Flexibl…
  articles/mysql/flexible-server/concepts-server-parameters.md
Labels: do-not-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#81 Update how-to-create-manage-databases.md (Typo "flexible server"→"Fle…
  articles/mysql/flexible-server/how-to-create-manage-databases.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#83 Update how-to-data-encryption-portal.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/how-to-data-encryption-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#84 Update how-to-data-in-replication.md (Typo "flexible server"→"Flexibl…
  articles/mysql/flexible-server/how-to-data-in-replication.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#85 Update tutorial-power-automate-with-mysql.md (Typo "flexible server"→…
  articles/mysql/flexible-server/tutorial-power-automate-with-mysql.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#87 Update self-serve-minimum-tls-enforcement.md
  articles/cosmos-db/self-serve-minimum-tls-enforcement.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#88 Update concepts-monitoring.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/concepts-monitoring.md
Labels: do-not-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#91 Update concepts-networking-vnet.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/concepts-networking-vnet.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#92 Update quickstart-create-server-cli.md (Typo "flexible server"→"Flexi…
  articles/mysql/flexible-server/quickstart-create-server-cli.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#93 Update connect-python.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-python.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#94 docs[minor]: Remove extra backtick in code example
  articles/cosmos-db/index-overview.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#95 Update how-to-manage-virtual-network-portal.md (Typo "flexible server…
  articles/mysql/flexible-server/how-to-manage-virtual-network-portal.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#96 Update concepts-business-continuity.md (Typo "flexible server"→"Flexi…
  articles/mysql/flexible-server/concepts-business-continuity.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#98 Update self-serve-minimum-tls-enforcement.md
  articles/cosmos-db/self-serve-minimum-tls-enforcement.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#99 Update tutorial-create-power-app-with-mysql.md (Typo "flexible server…
  articles/mysql/flexible-server/tutorial-create-power-app-with-mysql.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#101 Update how-to-manage-firewall-portal.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/how-to-manage-firewall-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#103 Update how-to-networking-private-link-deny-public-access.md (Typo "fl…
  articles/mysql/flexible-server/how-to-networking-private-link-deny-public-access.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#104 Update how-to-restore-dropped-server.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/how-to-restore-dropped-server.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#105 Update connect-java.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-java.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#106 Update how-to-configure-server-parameters-cli.md (Typo "flexible serv…
  articles/mysql/flexible-server/how-to-configure-server-parameters-cli.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#108 fix broken link in "Related content"
  articles/cosmos-db/mongodb/vcore/faq.yml
Labels: do-not-merge, needs-human-review, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#24 Updated image of new options on CosmoDB DS
  articles/cosmos-db/media/audit-control-plane-logs/new-enable-control-plane-requests-logs.png
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author

#109 Update concepts-migrate-dump-restore.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/concepts-migrate-dump-restore.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
