Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2024-12, with the labels that each got.

#148 Update faq.yml
  articles/cosmos-db/faq.yml
Labels: ready-to-merge, needs-human-review, Change sent to author, azure-cosmos-db/svc

#149 Update how-to-trigger-on-demand-backup.md (Typo "flexible server"→"Fl…
  articles/mysql/flexible-server/how-to-trigger-on-demand-backup.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#150 Update how-to-troubleshoot-cli-errors.md (Typo "flexible server"→"Fle…
  articles/mysql/flexible-server/how-to-troubleshoot-cli-errors.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#151 Update concepts-audit-logs.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/concepts-audit-logs.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#152 Update how-to-grant-data-plane-role-based-access.md
  articles/cosmos-db/nosql/security/how-to-grant-data-plane-role-based-access.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#153 Update how-to-read-replicas-portal.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/how-to-read-replicas-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#156 Update tutorial-configure-audit.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/tutorial-configure-audit.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#158 Update how-to-monitor-diagnostics-logs.md
  articles/cosmos-db/mongodb/vcore/how-to-monitor-diagnostics-logs.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, mongodb-vcore/subsvc

#160 Update how-to-request-quota-increase.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/how-to-request-quota-increase.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#157 Update quickstart-terraform.md
  articles/cosmos-db/mongodb/vcore/quickstart-terraform.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-cosmos-db/svc, mongodb-vcore/subsvc

#162 Update tutorial-deploy-springboot-on-aks-vnet.md (Typo "flexible serv…
  articles/mysql/flexible-server/tutorial-deploy-springboot-on-aks-vnet.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#164 Update tutorial-add-redis-to-mysql.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/tutorial-add-redis-to-mysql.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#165 Update create-automation-tasks.md (Typo "flexible server"→"Flexible S…
  articles/mysql/flexible-server/create-automation-tasks.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#166 Update quickstart-create-bicep.md (Typo "flexible server"→"Flexible S…
  articles/mysql/flexible-server/quickstart-create-bicep.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#168 Update tutorial-add-mysql-connection-in-key-vault.md (Typo "flexible …
  articles/mysql/flexible-server/tutorial-add-mysql-connection-in-key-vault.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#170 Update how-to-restart-stop-start-server-cli.md (Typo "flexible server…
  articles/mysql/flexible-server/how-to-restart-stop-start-server-cli.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#173 Update how-to-restore-server-cli.md (Typo "flexible server"→"Flexible…
  articles/mysql/flexible-server/how-to-restore-server-cli.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#172 Update how-to-read-replicas-cli.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/how-to-read-replicas-cli.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#176 Update quickstart-create-server-portal.md (Typo "flexible server"→"Fl…
  articles/mysql/flexible-server/quickstart-create-server-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#18 Update how-to-connect-tls-ssl.md (Typo "flexible server"→"Flexible Se…
  articles/mysql/flexible-server/how-to-connect-tls-ssl.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#33 Update connect-nodejs.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-nodejs.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#40 Update connect-azure-cli.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-azure-cli.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#38 Update connect-workbench.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-workbench.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
