Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2024-11, with the labels that each got.

#111 Update how-to-troubleshoot-low-memory-issues.md (Typo "flexible serve…
  articles/mysql/flexible-server/how-to-troubleshoot-low-memory-issues.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#107 fix: grammer of TypeScript
  articles/cosmos-db/table/how-to-use-nodejs.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, table/subsvc

#112 Update concepts-accelerated-logs.md (Typo "flexible server"→"Flexible…
  articles/mysql/flexible-server/concepts-accelerated-logs.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#113 Update how-to-server-logs-cli.md (Typo "flexible server"→"Flexible Se…
  articles/mysql/flexible-server/how-to-server-logs-cli.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#114 Update sample-scripts-azure-cli.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/sample-scripts-azure-cli.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#115 Update release-notes.md
  articles/postgresql/flexible-server/release-notes.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#120 Update tutorial-deploy-wordpress-on-aks.md (Typo "flexible server"→"F…
  articles/mysql/flexible-server/tutorial-deploy-wordpress-on-aks.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#122 Update whats-happening-to-mariadb.md (Typo "flexible server"→"Flexibl…
  articles/mariadb/migrate/whats-happening-to-mariadb.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-mariadb/svc

#123 Update how-to-restore-server-portal.md (Typo "flexible server"→"Flexi…
  articles/mysql/flexible-server/how-to-restore-server-portal.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#125 Update how-to-migrate-rds-mysql-data-in-replication.md (Typo "flexibl…
  articles/mysql/flexible-server/how-to-migrate-rds-mysql-data-in-replication.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#127 Update how-to-move-regions.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/how-to-move-regions.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#126 Update how-to-azure-ad.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/how-to-azure-ad.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#128 Update how-to-troubleshoot-high-cpu-utilization.md (Typo "flexible se…
  articles/mysql/flexible-server/how-to-troubleshoot-high-cpu-utilization.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#129 Update concepts-slow-query-logs.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/concepts-slow-query-logs.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#130 Update concept-reserved-pricing.md (Typo "flexible server"→"Flexible …
  articles/mysql/flexible-server/concept-reserved-pricing.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#131 Update how-to-troubleshoot-connectivity-issues.md (Typo "flexible ser…
  articles/mysql/flexible-server/how-to-troubleshoot-connectivity-issues.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#133 Update tutorial-query-performance-insights.md (Typo "flexible server"…
  articles/mysql/flexible-server/tutorial-query-performance-insights.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#134 Fix Syntax error, incorrect syntax near }
  articles/cosmos-db/nosql/query/vectordistance.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#137 Update how-to-fix-corrupt-database.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/how-to-fix-corrupt-database.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#138 Update how-to-troubleshoot-common-connection-issues.md (Typo "flexibl…
  articles/mysql/flexible-server/how-to-troubleshoot-common-connection-issues.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#139 Update how-to-troubleshoot-query-performance-new.md (Typo "flexible s…
  articles/mysql/flexible-server/how-to-troubleshoot-query-performance-new.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#140 Update concepts-connection-libraries.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/concepts-connection-libraries.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#141 Update how-to-networking-private-link-azure-cli.md (Typo "flexible se…
  articles/mysql/flexible-server/how-to-networking-private-link-azure-cli.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#143 Update quickstart-create-arm-template.md (Typo "flexible server"→"Fle…
  articles/mysql/flexible-server/quickstart-create-arm-template.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#144 Update tutorial-simple-php-mysql-app.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/tutorial-simple-php-mysql-app.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
