Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2024-09, with the labels that each got.

#19 [CosmosDB] Change emulator latest version button text
  articles/cosmos-db/emulator-release-notes.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#21 Update how-to-manage-virtual-network-cli.md
  articles/mysql/flexible-server/how-to-manage-virtual-network-cli.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#29 Update concepts-high-availability.md (Typo "flexible server"→"Flexibl…
  articles/mysql/flexible-server/concepts-high-availability.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#31 Update whats-new.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/whats-new.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#36 Update how-to-data-encryption-cli.md (Typo "flexible server"→"Flexibl…
  articles/mysql/flexible-server/how-to-data-encryption-cli.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#46 Add warning about missing resource provider
  articles/postgresql/flexible-server/concepts-networking-private.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc

#45 Update synthetic-partition-keys.md (Typo "real-time" -> "real-world")
  articles/cosmos-db/nosql/synthetic-partition-keys.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#41 Update concepts-maintenance.md (Typo "flexible server"→"Flexible Serv…
  articles/mysql/flexible-server/concepts-maintenance.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#50 Update azure-pipelines-deploy-database-task.md (Typo "flexible server…
  articles/mysql/flexible-server/azure-pipelines-deploy-database-task.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#49 Fix typo in quickstart-dotnet.md (Typo: "TableEntity" → "TableClient")
  articles/cosmos-db/table/quickstart-dotnet.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, table/subsvc

#53 Update concepts-data-in-replication.md (Typo "flexible server"→"Flexi…
  articles/mysql/flexible-server/concepts-data-in-replication.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#52 Update concepts-aks.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/concepts-aks.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#51 Update concept-operation-excellence-best-practices.md (Typo "flexible…
  articles/mysql/flexible-server/concept-operation-excellence-best-practices.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#54 Update concepts-azure-ad-authentication.md (Typo "flexible server"→"F…
  articles/mysql/flexible-server/concepts-azure-ad-authentication.md
Labels: do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#57 Update connect-csharp.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-csharp.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#58 Update concepts-migrate-import-export.md (Typo "flexible server"→"Fle…
  articles/mysql/flexible-server/concepts-migrate-import-export.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#59 Updated documentation for Allow requests from global Azure datacenters or other sources within Azure
  articles/cosmos-db/how-to-configure-firewall.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#61 Update how-to-stop-start-server-portal.md (Typo "flexible server"→"Fl…
  articles/mysql/flexible-server/how-to-stop-start-server-portal.md
Labels: ready-to-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#60 Update how-to-data-out-replication.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/how-to-data-out-replication.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#62 Update how-to-migrate-online.md (Typo "flexible server"→"Flexible Ser…
  articles/mysql/flexible-server/how-to-migrate-online.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
