Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2025-02, with the labels that each got.

#193 Update how-to-cost-optimization.md (Typo "flexible server"→"Flexible …
  articles/postgresql/flexible-server/how-to-cost-optimization.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#194 Update quickstart-create-server-bicep.md (Typo "flexible server"→"Fle…
  articles/postgresql/flexible-server/quickstart-create-server-bicep.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#136 Update index-policy.md
  articles/cosmos-db/index-policy.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#154 Update serverless-computing-database.md
  articles/cosmos-db/nosql/serverless-computing-database.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#196 Update how-to-deploy-on-azure-free-account.md (Typo "flexible server"…
  articles/postgresql/flexible-server/how-to-deploy-on-azure-free-account.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#198 Update connect-java.md (Typo "flexible server"→"Flexible Server")
  articles/postgresql/flexible-server/connect-java.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#200 Update concepts-networking-private.md (Typo "flexible server"→"Flexib…
  articles/postgresql/flexible-server/concepts-networking-private.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc

#202 Azure Database for PostgreSQL: fix CLI examples for Download PostgreSQL and upgrade logs
  articles/postgresql/flexible-server/how-to-configure-server-logs.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#203 Update concepts-compare-single-server-flexible-server.md (Typo "flexi…
  articles/postgresql/flexible-server/concepts-compare-single-server-flexible-server.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#205 Update tutorial-webapp-server-vnet.md (Typo "flexible server"→"Flexib…
  articles/postgresql/flexible-server/tutorial-webapp-server-vnet.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#206 Update how-to-configure-sign-in-azure-ad-authentication.md (Typo "fle…
  articles/postgresql/flexible-server/how-to-configure-sign-in-azure-ad-authentication.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#209 Update concepts-data-encryption.md (Typo "flexible server"→"Flexible …
  articles/postgresql/flexible-server/concepts-data-encryption.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#210 Update concepts-workbooks.md (Typo "flexible server"→"Flexible Server")
  articles/postgresql/flexible-server/concepts-workbooks.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#212 Update quickstart-create-server-python-sdk.md (Typo "flexible server"…
  articles/postgresql/flexible-server/quickstart-create-server-python-sdk.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#219 Cosmos: Update Cosmos min recommended version to 3.47.0
  articles/cosmos-db/nosql/sdk-dotnet-v3.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#220 Update dynamodb-data-migration-cosmos-db.md
  articles/cosmos-db/nosql/dynamodb-data-migration-cosmos-db.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#221 Update concepts-backup-restore.md (Typo "flexible server"→"Flexible S…
  articles/postgresql/flexible-server/concepts-backup-restore.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#222 Update dynamodb-data-migration-cosmos-db.md
  articles/cosmos-db/nosql/dynamodb-data-migration-cosmos-db.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#226 Update concept-perf-benchmark-best-practices.md (Typo "flexible serve…
  articles/mysql/flexible-server/concept-perf-benchmark-best-practices.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
