Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2025-04, with the labels that each got.

#260 Fix grammar in store-credentials-key-vault.md
  articles/cosmos-db/store-credentials-key-vault.md
Labels: do-not-merge, Change sent to author, azure-cosmos-db/svc

#259 Update how-to-data-in-replication.md
  articles/mysql/flexible-server/how-to-data-in-replication.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#255 Update overview.md
  articles/mysql/flexible-server/overview.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#261 Update generative-ai-azure-overview.md
  articles/postgresql/flexible-server/generative-ai-azure-overview.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#258 Adding a note stating that there is no option to stop the upgrade of …
  articles/postgresql/flexible-server/release-notes.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#195 Update indexing.md - as per previous commit 1569d9d, where the feature was removed
  articles/cosmos-db/mongodb/indexing.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, mongodb/subsvc

#267 Update concepts-read-replicas.md
  articles/mysql/flexible-server/concepts-read-replicas.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
