Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2025-06, with the labels that each got.

#282 Update array-contains.md
  articles/cosmos-db/nosql/query/array-contains.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#290 Update concepts-built-in-store-procedure.md
  articles/mysql/flexible-server/concepts-built-in-store-procedure.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#268 Data API Documentation Update
  articles/cosmos-db/mongodb/vcore/data-api.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-cosmos-db/svc, mongodb-vcore/subsvc
