Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2025-05, with the labels that each got.

#273 Fix typo
  articles/postgresql/flexible-server/concepts-read-replicas.md
Labels: do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#277 Update throughput-serverless.md
  articles/cosmos-db/throughput-serverless.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, Change sent to author, azure-cosmos-db/svc

#278 Update generative-ai-age-overview.md
  articles/postgresql/flexible-server/generative-ai-age-overview.md
Labels: do-not-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#266 Update vector-search.md - Update the column name in HNSW sample data to make the column name consistent with index and query
  articles/cosmos-db/mongodb/vcore/vector-search.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-cosmos-db/svc, mongodb-vcore/subsvc

#279 Update the NoSQL example queries to match the descriptions above each example
  articles/cosmos-db/nosql/query/keywords.md
Labels: do-not-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc
