Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2025-01, with the labels that each got.

#177 Update ai-agents.md - applies to
  articles/cosmos-db/ai-agents.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#182 Update concepts-data-out-replication.md (Typo "flexible server"→"Flex…
  articles/mysql/flexible-server/concepts-data-out-replication.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#132 Update how-to-manage-azure-ad-users.md
  articles/postgresql/flexible-server/how-to-manage-azure-ad-users.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#184 Update concept-monitoring-best-practices.md (Typo "flexible server"→"…
  articles/mysql/flexible-server/concept-monitoring-best-practices.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#185 Supported versions - fix typo in title
  articles/postgresql/flexible-server/concepts-supported-versions.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc

#70 Update connect-php.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/connect-php.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#26 Update tutorial-php-database-app.md (Typo "flexible server"→"Flexib…
  articles/mysql/flexible-server/tutorial-php-database-app.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#9 Update how-to-deploy-on-azure-free-account.md (Typo "flexible server"…
  articles/mysql/flexible-server/how-to-deploy-on-azure-free-account.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#15 Update concepts-workbooks.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/concepts-workbooks.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#47 Update how-to-upgrade.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/how-to-upgrade.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#66 Update concepts-error-logs.md (Typo "flexible server"→"Flexible Server")
  articles/mysql/flexible-server/concepts-error-logs.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#102 Update concepts-storage-iops.md (Typo "flexible server"→"Flexible Ser…
  articles/mysql/flexible-server/concepts-storage-iops.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#118 Update concepts-troubleshooting-best-practices.md (Typo "flexible ser…
  articles/mysql/flexible-server/concepts-troubleshooting-best-practices.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#121 Update how-to-restart-server-portal.md (Typo "flexible server"→"Flexi…
  articles/mysql/flexible-server/how-to-restart-server-portal.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#188 Update comsos-db/resource-model.md
  articles/cosmos-db/resource-model.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#12 Update concepts-service-tiers-storage.md (Typo "flexible server"→"Fle…
  articles/mysql/flexible-server/concepts-service-tiers-storage.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#65 Update how-to-server-logs-portal.md (Typo "flexible server"→"Flexible…
  articles/mysql/flexible-server/how-to-server-logs-portal.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#187 Update docs for Release 2.14.21
  articles/cosmos-db/emulator-release-notes.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#28 Update concepts-service-tiers-storage.md (Typo "flexible server"→"Fle…
  articles/mysql/flexible-server/concepts-service-tiers-storage.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#82 Update quickstart-mysql-github-actions.md (Typo "flexible server"→"Fl…
  articles/mysql/flexible-server/quickstart-mysql-github-actions.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#43 Update concepts-networking-private-link.md (Typo "flexible server"→"F…
  articles/mysql/flexible-server/concepts-networking-private-link.md
Labels: aq-pr-triaged, inactive, do-not-merge, needs-human-review, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#175 Update concepts-networking-private.md
  articles/postgresql/flexible-server/concepts-networking-private.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc

#117 Cosmos Always Encrypted misleading documentation about CMK key versions
  articles/cosmos-db/how-to-always-encrypted.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc

#179 Limitations of vector search in Cosmos DB NoSQL API.
  articles/cosmos-db/nosql/how-to-dotnet-vector-index-query.md
  articles/cosmos-db/nosql/how-to-javascript-vector-index-query.md
  articles/cosmos-db/nosql/how-to-python-vector-index-query.md
  articles/cosmos-db/nosql/vector-search.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#189 update Cosmos DB MongoDB vCore free tier limitations
  articles/cosmos-db/mongodb/vcore/free-tier.md
  articles/cosmos-db/mongodb/vcore/limits.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-cosmos-db/svc, mongodb-vcore/subsvc

#190 Update how-to-network-from-private-to-public.md (Typo "flexible serve…
  articles/mysql/flexible-server/how-to-network-from-private-to-public.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc
