Repository MicrosoftDocs/azure-databases-docs, pull requests merged in 2025-03, with the labels that each got.

#227 Update concepts-data-in-replication.md (Typo "single server"→" Single…
  articles/mysql/flexible-server/concepts-data-in-replication.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#229 Update sample-cli-monitor-and-scale.md (Typo "Flexible server"→"Flexi…
  articles/mysql/flexible-server/scripts/sample-cli-monitor-and-scale.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, flexible-server/subsvc, azure-database-mysql/svc

#237 Fix incorrect expansion of UDF acronym
  articles/cosmos-db/nosql/performance-tips-dotnet-sdk-v3.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#239 Update performance-tips-query-sdk.md
  articles/cosmos-db/nosql/performance-tips-query-sdk.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-cosmos-db/svc, nosql/subsvc

#248 Update self-serve-minimum-tls-enforcement.md
  articles/cosmos-db/self-serve-minimum-tls-enforcement.md
Labels: do-not-merge, Change sent to author, azure-cosmos-db/svc

#241 Update ai-advertisement-generation.md
  articles/cosmos-db/mongodb/vcore/ai-advertisement-generation.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-cosmos-db/svc, mongodb-vcore/subsvc

#224 Update concepts-data-encryption.md
  articles/postgresql/flexible-server/concepts-data-encryption.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-database-postgresql/svc, flexible-server/subsvc
